@using BELibrary.Core.Utils
@using CinemaOnline.Handler
@using PagedList.Mvc
@using BELibrary.Entity
@model List<CinemaOnline.Areas.Admin.Models.OrderView>

@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = CookiesManage.GetUser();
}

<style>

    .bg-black-333 {
        background-color: darkseagreen;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 32px;
        color: white;
    }

    .full-name {
        padding-top: 12px;
        color: white;
    }

    .styled-icons li {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
    }

    .styled-icons.icon-sm a {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        margin: 2px 7px 2px 0;
        width: 30px;
    }

    .styled-icons.icon-circled a {
        border-radius: 50%;
    }

    .styled-icons.icon-gray a {
        background-color: #eeeeee;
        color: #555555;
        display: block;
        font-size: 18px;
        height: 36px;
        line-height: 36px;
        width: 36px;
    }

    .mb-15 {
        margin-bottom: 15px !important;
    }

    .mt-15 {
        margin-top: 15px !important;
    }

    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<style>
    .tickets-container .tickets-list .ticket-item .ticket-state i {
        font-size: 13px;
        color: #fff;
        line-height: 20px;
    }

    .tickets-container .tickets-list .ticket-item .ticket-state {
        position: absolute;
        top: 13px;
        right: -12px;
        height: 24px;
        width: 24px;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        background-color: #e5e5e5;
        text-align: center;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        border: 2px solid #fff;
    }

    .bg-palegreen {
        background-color: #a0d468 !important;
    }

    .tickets-container .tickets-list .ticket-item .ticket-type .type {
        color: #999;
        font-size: 11px;
        text-transform: uppercase;
    }

    .tickets-container .tickets-list .ticket-item .ticket-type {
        line-height: 30px;
        height: 50px;
        padding: 10px;
    }

    .tickets-container .tickets-list .ticket-item .ticket-time i {
        color: #ccc;
        width: 50px;
    }

    .tickets-container .tickets-list .ticket-item .divider {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 1px;
        background-color: #eee;
        display: inline-block;
    }

    .tickets-container .tickets-list .ticket-item .ticket-time {
        line-height: 30px;
        height: 50px;
        padding: 10px;
    }

    .tickets-container .tickets-list .ticket-item .ticket-user .user-company {
        margin-left: 2px;
        color: #999;
    }

    .tickets-container .tickets-list .ticket-item .ticket-user .user-at {
        margin-left: 2px;
        color: #ccc;
        font-size: 13px;
    }

    .tickets-container .tickets-list .ticket-item .ticket-user .user-name {
        margin-left: 5px;
        font-size: 13px;
    }

    .tickets-container .tickets-list .ticket-item .ticket-user .user-avatar {
        width: 30px;
        height: 30px;
        -webkit-border-radius: 3px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 3px;
        -moz-background-clip: padding;
        border-radius: 3px;
        background-clip: padding-box;
    }

    .tickets-container .tickets-list .ticket-item .ticket-user {
        line-height: 30px;
        height: 50px;
        padding: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tickets-container .tickets-list .ticket-item {
        position: relative;
        background-color: #fff;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        -webkit-border-radius: 3px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 3px;
        -moz-background-clip: padding;
        border-radius: 3px;
        background-clip: padding-box;
        margin-bottom: 8px;
        padding: 0 15px;
        vertical-align: top;
    }

    .tickets-container .tickets-list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    .tickets-container {
        position: relative;
        padding: 25px 25px;
        background-color: #f5f5f5;
    }

    .widget-main.no-padding {
        padding: 0;
    }

    .widget-main {
        padding: 12px;
    }

    .no-padding {
        padding: 0 !important;
    }

    .widget-body {
        background-color: #fbfbfb;
        -webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
        -moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
        box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    }

    .widget-header > .widget-caption {
        line-height: 33px;
        padding: 0;
        margin: 0;
        float: left;
        text-align: left;
        font-weight: 400 !important;
        font-size: 13px;
    }

    .widget-header .widget-icon {
        display: block;
        width: 30px;
        height: 32px;
        position: relative;
        float: left;
        font-size: 111%;
        line-height: 32px;
        text-align: center;
        margin-left: -10px;
    }

    .themesecondary {
        color: #5bc0de !important;
    }

    .widget-header.bordered-bottom {
        border-bottom: 3px solid #fff;
    }

    .widget-header {
        position: relative;
        min-height: 35px;
        background: #fff;
        -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
        box-shadow: 0 0 4px rgba(0,0,0,.3);
        color: #555;
        padding-left: 12px;
        text-align: right;
    }

    .bordered-themesecondary {
        border-color: #5bc0de !important;
    }

    .widget-box {
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 3px 0 30px 0;
    }

    .bg-darkorange {
        background-color: #DE3E44 !important;
    }

    span {
        font-size: 13px;
    }
</style>
<link rel="stylesheet" href="https://l-lin.github.io/font-awesome-animation/dist/font-awesome-animation.min.css">
<!-- Start main-content -->
<div class="main-content" style="padding-top:85px">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/Content/images/bg/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="full-name text-center" style="color:black;">@user.FullName</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="active text-gray-silver">Tài khoản của tôi</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: User  Details -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <!-- User Info -->
                    <div class="col-md-4 user-info-wrapper">
                        <div class="user-info card bg-darkseagreen text-black text-center mb-4">
                            <img class="img-fluid rounded-circle mt-2 " src="@user.LinkAvata" alt="@user.FullName">
                            <h4 class="my-3">@user.FullName</h4>
                            <ul class="list-unstyled mb-3" style="font-size:15px;">
                                <li><strong>Email:</strong> @user.Email</li>
                                <li><strong>Phone:</strong> @user.Phone</li>
                            </ul>
                            <div class="text-center mb-3">
                                <a class="btn btn-info btn-flat mt-10 mb-sm-30" href="/account/edit">Sửa</a>
                                <a class="btn btn-danger btn-flat mt-10 mb-sm-30" href="/account/logout">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget-box">
                                    <div class="widget-header bordered-bottom bordered-themesecondary d-flex justify-content-between align-items-center">

	                                    <h4 class="widget-caption themesecondary">
		                                    <i class="widget-icon fa fa-tags themesecondary"></i>
		                                    Lịch sử giao dịch
	                                    </h4>

                                        <button class="btn btn-danger btn-icon mx-3 my-3" @(Model.Count> 0? "": "disabled") onclick="clearHistory()">
                                            <i class="demo-psi-recycling icon-lg"></i>
                                            Clear Order History
                                        </button>
                                    </div>
                                    <!--Widget Header-->
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <div class="tickets-container">
                                                <ul class="tickets-list">
                                                    @foreach (var item in Model)
                                                    {
                                                        <li class="ticket-item orderRow">
                                                            <div class="row">
                                                                <div class="ticket-user col-md-6 col-sm-12">
                                                                    <i class="fa fa-ticket faa-shake animated"></i>
                                                                    <span class="user-name">@item.FilmName</span>
                                                                    <span class="user-at">tại</span>
                                                                    <span class="user-company">@item.RoomName</span>
                                                                </div>
                                                                <div class="ticket-time  col-md-4 col-sm-6 col-xs-12">
                                                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                                                    <i class="fa fa-clock-o"></i>
                                                                    <span class="time">@item.Time </span>
                                                                </div>
                                                                <div class="ticket-type  col-md-2 col-sm-6 col-xs-12">
                                                                    <span class="divider hidden-xs"></span>
                                                                    <span class="type">@item.TotalPrice VNĐ</span>
                                                                </div>
                                                                @if (item.Status == StatusOrder.Failure)
                                                                {
                                                                    <div class="ticket-state bg-darkorange">
                                                                        <i class="fa fa-times"></i>
                                                                    </div>
                                                                }
                                                                else if (item.Status == StatusOrder.Pending)
                                                                {

                                                                    <div class="ticket-state bg-darkorange">
                                                                        <i class="fa fa-clock-o"></i>
                                                                    </div>
                                                                }
                                                                else
                                                                {

                                                                    <div class="ticket-state bg-palegreen">
                                                                        <i class="fa fa-check"></i>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </li>
                                                    }
                                                    @if (Model.Count == 0)
                                                    {
	                                                    <li class="text-center">Chưa có giao dịch nào</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script>
        const baseUrl = "/Account";

        // Clear Order History
        function clearHistory() {
            var mess = 'Xác nhận <b>xóa toàn bộ lịch sử đặt vé</b>?';

            Lobibox.confirm({
                msg: mess,
                callback: function (lobibox, type) {
                    if (type === 'yes') { 
                        const formData = new FormData();

                        $.ajax({
                            url: `${baseUrl}/ClearOrder`,
                            type: 'POST',
                            data: formData,
                            success: function (response) {
                                if (response.status == true) {
                                    Lobibox.notify('success', {
                                        size: 'mini',
                                        msg: response.mess
                                    });

                                    // Remove all order rows from the UI
                                    $(".orderRow").remove();
                                } else {
                                    Lobibox.notify('error', {
                                        size: 'mini',
                                        msg: response.mess
                                    });
                                }
                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        }); 
                    }
                }
            }); 
            return;
             
        }
    </script>
}