@using BELibrary.Models.View
@using BELibrary.Extendsions

@model FilmView
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* container */

    #share {
        width: 100%;
        margin: 20px auto;
    }

        /* buttons */

        #share a {
            width: 25px;
            height: 25px;
            display: inline-block;
            margin: 4px;
            border-radius: 50%;
            font-size: 16px;
            color: #fff;
            opacity: 0.75;
            transition: opacity 0.15s linear;
        }

            #share a:hover {
                opacity: 1;
            }

        /* icons */

        #share i {
            position: relative;
            top: 45%;
            margin-left: 6px;
            transform: translateY(-50%);
        }

    /* colors */

    .facebook {
        background: #3b5998;
    }

    .twitter {
        background: #55acee;
    }

    .googleplus {
        background: #dd4b39;
    }

    .linkedin {
        background: #0077b5;
    }

    .pinterest {
        background: #cb2027;
    }

    .search__button {
        padding: 8px 12px;
    }
</style>
<!-- Search bar -->
<div class="search-wrapper">
    <div class="container container--add">
        <div class="col-sm-12" style="padding-top:80px;height:auto">
            <div class="mega-select-present mega-select-top mega-select--full">
                <form action="#" method="post" novalidate="novalidate" id="formSearch">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-3 col-sm-12">
                                    <input type="text" class="form-control search-slt" placeholder="Nhập từ khóa" id="keywords">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 ">
                                    <select class="form-control search-slt" id="slFilter">
                                        <option value="1" selected="">Tất cả</option>
                                        <option value="filmName">Tên phim</option>
                                        <option value="director">Đạo diễn</option>
                                        <option value="actor">Diễn viên</option>
                                        <option value="country">Quốc gia</option>
                                        <option value="category">Thể loại</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-danger wrn-btn" id="search">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="container">
    <div class="col-sm-12">
        <div class="movie">
            <h2 class="page-heading">@Model.Name</h2>

            <div class="movie__info">
                <div class="col-sm-4 col-md-3 movie-mobile">
                    <div class="movie__images">
                        <span class="movie__rating">5.0</span>
                        <img alt='@Model.Name' src="@Model.BannerUrl">
                    </div>
                    <div class="movie__rate">Đánh giá: <div id='score' class="score"></div></div>
                </div>

                <div class="col-sm-8 col-md-9">
                    <p class="movie__time">@Model.Time</p>

                    <p class="movie__option"><strong>Quốc gia: </strong><a href="/Film/Search?country=@Model.Country"> @Model.Country</a></p>
                    <p class="movie__option"><strong>Năm: </strong><a href="#">@Model.ReleaseDate.Year</a></p>
                    <p class="movie__option">
                        <strong>Category: </strong>
                        @{
                            if (Model.FilmMovieTypes.Count > 0)
                            {
                                var last = Model.FilmMovieTypes.Last();
                                foreach (var ftype in Model.FilmMovieTypes)
                                {
                                    if (ftype.Equals(last))
                                    {
                                        <a href="/Film/Search?category=@ftype"> @ftype</a>
                                    }
                                    else
                                    {
                                        <a href="/Film/Search?category=@ftype">@(ftype + " | ")</a>
                                    }

                                }
                            }
                        }
                    </p>
                    <p class="movie__option"><strong>Ngày phát hành: </strong>@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>
                    <p class="movie__option"><strong>Đạo diễn: </strong><a href="/Film/Search?director=@Model.Directors">@Model.Directors</a></p>
                    <p class="movie__option"><strong>Diễn viên: </strong> @Model.Actors</p>
                    <p class="movie__option"><strong>Giới hạn độ tuổi: </strong><a href="#">@Model.AgeRestriction</a></p>
                    <p class="movie__option"><strong>Giá vé: </strong>@Model.Price.ToString("##,###") đ</p>

                    <div class="movie__btns movie__btns--full">
                        <a href="#movie-calendar" class="btn btn-md btn--warning">Đặt vé</a>
                        <a href="#" class="watchlist">Add to watchlist</a>
                    </div>

                    <div id="share">
                        <span>Share: </span>
                        <!-- Facebook -->
                        <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}" target="_blank">
                            <i class="fab fa-facebook-f me-3"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="twitter" href="https://twitter.com/intent/tweet?text={{title}}&url={{url}}" target="_blank">
                            <i class="fab fa-twitter me-3"></i>
                        </a>

                        <!-- LinkedIn (as a replacement for Google+) -->
                        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}" target="_blank">
                            <i class="fab fa-linkedin-in me-3"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">The plot</h2>

            <div class="movie__describe">
                @Html.Raw(Model.Detail)
            </div>

            <h2 class="page-heading">photos &amp; videos</h2>

            <div class="movie__media" style="height: 100%">
                <div align="center" class="embed-responsive embed-responsive-16by9">

                    <video width="400" controls autoplay>
                        <source src="@Model.TrailerLink" type="video/mp4">
                        <source src="@Model.TrailerLink" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>

        <h2 class="page-heading" id="movie-calendar">Showtime &amp; Ticket</h2>
        <div class="choose-container">
            <div class="clearfix"></div>

            <div class="time-select">
                @{
                    foreach (var room in Model.MovieCalendars.GroupBy(mc => mc.CinemaRoomId))
                    {
                        <div>
                            <h3>Phòng - @room.ToList().First(x => x.CinemaRoomId == room.Key).CinemaRoom.Name</h3>
                            @foreach (var dow in room.ToList().GroupBy(mc => mc.DaysOfWeek))
                            {
                                <div class="time-select__group">
                                    <div class="col-sm-4">
                                        <p class="time-select__place">@dow.Key.Name</p>
                                        @{
                                            foreach (var date in dow)
                                            { <p class="time-select__place" movie-calendar-id='@date.Id'>@date.StartWeek.ToString("dd/MM/yyyy") </p>
                                        }
                                        }
                                    </div>
                                    <ul class="col-sm-8 items-wrap">
                                        @{
                                            foreach (var mc in dow)
                                            {
                                                <li class="time-select__item" movie-calendar-id='@mc.Id'>@mc.TimeFrame.GetTimeFrame() - @mc.MovieDisplayType.Name</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                }
            </div>

            <h2 class="page-heading">comments</h2>

            <div class="fb-comments" 
                 data-href="https://developers.facebook.com/docs/plugins/comments#configurator" 
                 data-width="100%" data-numposts="5"></div>

        </div>
    </div>


</section>
@section Scripts {
    <script src="~/Scripts/js/base/click.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v21.0"></script>
    <script>
      


        const reserveSeatHref = '/BookTicket/ReserveSeat?movieCalendarId={id}';
        $('.time-select__item').click(function (e) {
            e.preventDefault();
            var movieCalendarId = $(this).attr('movie-calendar-id');
            window.location.href = window.location.origin + reserveSeatHref.replace('{id}', movieCalendarId);
        });

        $(document).ready(function () {
            $('#search').click(function () {
                $('#formSearch').submit();
            });
            $('#formSearch').submit(function (e) {
                e.preventDefault();
                utils.loading();
                let url = "";
                const filter = $("#slFilter").val();
                const keywords = $("#keywords").val();
                if (filter === "1") {
                    url = `/Film/Search?keyword=${keywords}`;
                } else {
                    url = `/Film/Search?${filter}=${keywords}`;
                }
                window.location.href = url;
            });
        });
    </script>
}